# Frontend

VITE_API_URL=

# Backend

NODE_ENV=
PORT=
APP_URL=
SITE_URL=
INDEXNOW_KEY=
INDEXNOW_ENDPOINT=

JWT_SECRET=
BREVO_API_KEY=
EMAIL_FROM_NAME=Philippine Online Dictionary
EMAIL_FROM_ADDRESS=no-reply@philippineonlinedictionary.com

DATABASE_URL=
DIRECT_DATABASE_URL=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
